.movieContainer {
    width: 100%;
}

.moviesBlock {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 10px;
}

.filterButton {
    padding: 10px 20px;
}

.filterButton span {
    margin-right:15px ;
}

.filterButton span:hover {
    color: #1e6eff;
    cursor: pointer;
}